<!---form class="usuario-buscador" action="index.html" method="post">
  <input [(ngModel)]="usuario" type="text" name="usuario" placeholder="Usuario..." class="form-control">
  <button type="submit" class="btn" name="button" (click)="buscarCartas()">Buscar</button>
</form-->

<div class="col">
  <div class="container">
      <div class="row">
          <div class="col" *ngFor="let carta of cartas">
              <img src="">
          </div>
      </div>
  </div>
</div>


<!-- table class="table table-borderdered table-striped" *ngIf="cartas?.length>0">
  <thead>
    <tr>
      <th>Matricula</th>
      <th>Velocidad</th>
      <th>Fecha</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let infraccion of infracciones" class="alturaEstandar2">
      <td>{{infraccion.vehiculo.matricula}}</td>
      <td>{{infraccion.velocidad}}</td>
      <td>{{infraccion.fecha}}</td>
    </tr>
  </tbody>
</table -->


<!---div class="">
    <ul *ngIf="paginas?.length>0" class="fondo pagination mt-3">

      <li class="page-item" [ngClass]="paginador.first?'disabled page-item':'page-item'">
        <a class="page-link color" [routerLink]="['/vervehiculos/page',0]">Primera</a>
      </li>

      <li class="page-item" *ngIf="paginador.number>0">
        <a class="page-link color" [routerLink]="['/vervehiculos/page',paginador.number-1]">&laquo;</a>
      </li>

      <li class="page-item" *ngIf="paginador.first">
        <a class="page-link color" [routerLink]="['/vervehiculos/page',paginador.totalPages-1]">&laquo;</a>
      </li>

      <li class="page-item" *ngFor="let pagina of paginas" [ngClass]="pagina-1==paginador.number?'active':''">
        <span class="border activo" *ngIf="pagina-1==paginador.number">{{pagina}}</span>
        <a class="page-link color" *ngIf="pagina-1 !=paginador.number" [routerLink]="['/vervehiculos/page',pagina-1]">{{pagina}}</a>
      </li>

      <li class="page-item" *ngIf="paginador.number<paginador.totalPages-1">
        <a class="page-link color" [routerLink]="['/vervehiculos/page',paginador.number+1]">&raquo;</a>
      </li>

      <li class="page-item" *ngIf="paginador.last">
        <a class="page-link color" [routerLink]="['/vervehiculos/page',0]">&raquo;</a>
      </li>

      <li class="page-item" [ngClass]="paginador.last?'disabled page-item':'page-item'">
        <a class="page-link color" [routerLink]="['/vervehiculos/page',paginador.totalPages-1]">Última</a>
      </li>

    </ul>
</div-->
