<div class="card border-primary my-3">
  <div class="card-header">Usuarios</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Formulario de creacion de ususario</h5>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Nombre de usuario</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="manolito69">
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="maniloto69@hotmail.com">
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="As%9_hjy&ezpl">
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Confirmar contraseña</label>
      <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="As%9_hjy&ezpl">
    </div>

    <div class="d-grid gap-2 col-5 mx-auto">
      <button class="btn btn-primary" type="button">Aceptar</button>
    </div>

  </div>
</div>
