<div class="row">
  <div class="col">
    <div class="container">
        <div class="row">
          <div class="col-2">
              <img src="">
          </div>
            <div class="col-8">
              <h1>Inicio</h1>
              <br><hr>

              <form class="form-inline md-form form-sm">
                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Cartas" aria-label="Search"
                  mdbInput>
                  <button type="submit" class="btn btn-primary">
                    <i class="bi bi-search"></i>
                    <span class="fa fa-search"></span>
                    Buscar
                  </button>
              </form>
              <br><br>
              <form class="form-inline md-form form-sm">
                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Ususarios" aria-label="Search"
                  mdbInput>
                  <button type="submit" class="btn btn-primary">
                    <i class="bi bi-search"></i>
                    <span class="fa fa-search"></span>
                    Buscar
                  </button>
              </form>
              <!---form>
                <div class="card-body text-center collapse show buscador" id="collapse">
                  <div class="d-flex float-left">
                    <div class="form-group">
                      <label for="cartas" class='labelsfiltros'>Cartas</label>
                      <input type="text" class="form-control" name="cartas">
                    </div>
                  </div>

                  <div class="d-flex float-right">
                    <div class=" mt-0 mr-3">
                      <button type="submit" class="btn botonesfiltros" style="margin-top: 20px;">Buscar</button>
                    </div>
                  </div>
                  <hr>
                </div>

              </form-->
            </div>
            <div class="col-2">
                <img src="">
            </div>
        </div>
    </div>
  </div>
</div>
